body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #4169E1, #001f3f);
    animation: gradientAnimation 5s infinite alternate;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffa500;
}

.logo {
    display: flex; 
    align-items: center;
}

.logo img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

/* Navbar Styles */
nav {
    color: #fff;
}

.navbar-container {
    display: flex;
}

.dropdown {
    position: relative;
    margin-right: 20px;
}

.dropbtn {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Section Styles */
.sections {
    list-style: none;
    padding: 20px;
}

.sections li {
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.sections{
    color: #ffd700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 42px;
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

button{
    font-size: 24px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50px;
    color: #4169E1;
    width: 150px;
    height: 50px;
}

button:hover {
    background-color: #f2f2f2;
    color: #4169E1;
  }