body {
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(https://gothammag.com/get/files/image/galleries/running-nyc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  background-color: linen;
  color: white;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 15px;
}

.logo img {
  max-height: 50px; /* Adjust the height as needed */
}

section {
  padding: 20px;
}

.prompt-section {
  max-width: 400px;
  margin: 0 auto;
}

.input {
  width: 100%;
  margin-bottom: 10px;
}

.result-section {
  margin-top: 20px; /* Adjust the margin-top value as needed */
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
.prompt-section {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 600px;
  text-align: center;
  transition: opacity 0.3s ease;
  position: center;
  margin-top: 20px; /* Adjust the margin-top value as needed */
}

label {
  font-size: 18px; /* Increase label font size */
  font-weight: bold;
  display: block;
  margin-bottom: 10px; /* Add more bottom margin for separation */
  color: #333;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.result-section {
  display: flex;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
  margin-top: 20px; /* Adjust the margin-top value as needed */
}

#loading {
  display: none;
}

.input {
  display: flex;
  align-items: center;
  width: 97%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}