body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    background: #2e60b3;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: #ffa500; */
}
